<%= form_with model: kitten do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :age %>
    <%= form.number_field :age, in: 1..100 %>
  </div>

  <div>
    <%= form.label :cuteness %>
    <%= form.number_field :cuteness, in: 1..10 %>
  </div>

  <div>
    <%= form.label :softness %>
    <%= form.number_field :softness, in: 1..10 %>
  </div>

  <%= form.submit %>
<% end %>
