<h1><%= @kitten.name %></h1>

<table>
  <tr>
    <th>Age</th>
    <th>Cuteness</th>
    <th>Softness</th>
  </tr>
  <tr>
    <td><%= @kitten.age %></td>
    <td><%= @kitten.cuteness %></td>
    <td><%= @kitten.softness %></td>
  </tr>
</table>

<%= link_to "Edit", edit_kitten_path(@kitten) %>
<%= link_to "Back", kittens_path %>
<%= button_to "Delete", @kitten, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
